<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>

    <%- include('./partials/headerLogueado') %> 

    <main>
        
        <div class="uk-section uk-section-small login-page">
            <div class="uk-container uk-container-large uk-flex container">
                <form class="login-form" action="/posts/add" method="POST" enctype="multipart/form-data">
                    <p> 
                    <input type="text" placeholder="Descripción" id="description" name="descripcion">
                    </p> 
                    <% if (error) { %>
						<p id="error"><%=error%></p>
					<% } %>
                    <p> 
                    <input type="file" placeholder="imagen" id="imagen" name="imagen">
                    </p> 
                    <p> 
                    <button type="submit" id="description"> Agregar</button>
                     </p> 
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here "name="content" id= "floatingTextarea"></textarea>

                    </div>

                </form>

            </div>
        </div>
    </main>
    <%- include('./partials/footer') %> 
</body>

</html>