<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>

    <%- include('./partials/headerLogueado') %> 

    <main>
        <div class="uk-section uk-section-small login-page">
            <div class="uk-container uk-container-large uk-flex container">
                <form class="login-form" action="/" method="GET">
                    <p> 
                    <input type="text" placeholder="Descripción" id="description" name="description">
                    </p> 
                    <p> 
                        <input type="file" placeholder="imagen" id="imagen" name="imagen">
                        </p> 
                    <p> 
                        <button type="submit" id="description"> Agregar</button>
                        </p> 

                </form>

            </div>
        </div>
    </main>
    <%- include('./partials/footer') %> 
</body>

</html>