<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerDeslogueado') %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="/" method="GET">
                    <p>
                        <input type="email" placeholder="Email" id="email" name="email">
                    </p>
                    <p>
                        <input type="text" placeholder="Nombre" id="nombre" name="nombre">
                    </p>
                    <p>
                        <input type="text" placeholder="Apellido" id="apellido" name="apellido">
                    </p>
                    <p>
                        <input type="file" placeholder="imagen" id="imagen" name="imagen">
                    </p>
                    <p>
                        <input type="date" placeholder="Fecha de Nacimiento" id="fechadenacimiento" name="fechadenacimiento">
                    </p>
                    <p>
                        <input type="password" placeholder="Contraseña" id="password" name="password">
                    </p>
                    <p>
                        <button type="submit" id="button"> Registrarme</button>
                    </p>

                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>