<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

    <body>
    <%- include('./partials/headerDeslogueado') %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
               
                <h2>(Mostar resultados de busqueda)</h2>

            </div>
        </div>


        //Tenemos que poner lo siguiente pero no se en que parte:
        //<%if posts.legth ==0){%>
        //<div class="alert alert-danger" role="alert">
        //Lo sentimos, no hemos encontrado resultados para <%=resultado%>
        //</div>
        //<%}%>     que traiga este resultado si no encuentra nada



    </main>
    
    <%- include('./partials/footer') %> 

</body>

</html>

